body {
  margin: 0;
  background: rgb(230, 230, 230)
}

ul {
  height: 18em;
  width: 34em;
  padding: 1em 0 0 1em;
  margin: 1em;
  position: relative;
}

li {
  margin: 0;
  list-style: none;
  position: relative;
  float: left;
  display: flex;
  align-items: flex-end;
  padding-bottom: 1.2em;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box
}

.black {
  width: 2em;
  height: 12em;
  margin: 0 0 0 -1em;
  border: 1px solid #000;
  box-shadow: -1px -1px 2px rgba(255,255,255,0.2) inset,0 -5px 2px 3px rgba(0,0,0,0.6) inset,0 2px 4px rgba(0,0,0,0.5);
  background: linear-gradient(45deg,rgb(31, 31, 31) 0%,rgb(85, 85, 85) 100%);
  z-index: 2;
}

.black:active {
  box-shadow: -1px -1px 2px rgba(255,255,255,0.2) inset,0 -2px 2px 3px rgba(0,0,0,0.6) inset,0 1px 2px rgba(0,0,0,0.5);
  background: linear-gradient(to right,#444 0%,#222 100%)
}

ul .white {
  width: 4em;
  height: 18em;
  box-shadow: -1px 0 0 rgba(255,255,255,0.8) inset,0 0 5px #ccc inset,0 0 3px rgba(0,0,0,0.2);
  background: linear-gradient(to bottom,#eee 0%,#fff 100%);
  border-left: 1px solid rgb(187, 186, 186);
  border-bottom: 1px solid rgb(187, 186, 186);
  z-index: 1;
}

ul .white:active {
  box-shadow: 2px 0 3px rgba(0,0,0,0.1) inset,-5px 5px 20px rgba(0,0,0,0.2) inset,0 0 3px rgba(0,0,0,0.2);
  background: linear-gradient(to bottom,#fff 0%,#e6e3e3 100%);
  border-left: 1px solid rgb(160, 158, 158);
  border-right: 1px solid rgb(160, 158, 158);
  border-top: 1px solid rgb(124, 122, 122);
  border-bottom: 1px solid rgb(160, 158, 158);
}

.highlighted {
  box-shadow: 2px 0 3px rgba(0,0,0,0.1) inset,-5px 5px 20px rgba(0,0,0,0.2) inset,0 0 3px rgba(0,0,0,0.2) !important;
  background: linear-gradient(to bottom,#fff 0%,#e6e3e3 100%) !important;
  border-left: 1px solid rgb(160, 158, 158) !important;
  border-right: 1px solid rgb(160, 158, 158) !important;
  border-top: 1px solid rgb(124, 122, 122) !important;
  border-bottom: 1px solid rgb(160, 158, 158) !important;
}

.a,.b,.d,.e,.g {
  margin: 0 0 0 -1em;
}

li div {
  font-size: 3em;
  cursor: default;
  font-family: sans-serif;
}

label {
  padding: 2em;
  font-family: sans-serif;
  font-size: 1em;
}

.piano {
  max-width: 30em 
}

.player {
  padding-left: 2em;
  font-family: sans-serif;
}

.player.prompt {
  padding-top: 2em;
  padding-bottom: 2em;
  font-size: 1em;
}

.player.error {
  font-size: 0.8em;
  color: red;
}

.player.text-field {
  width: 23em;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-left: 2em
}

button {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 1em;
  cursor: pointer;
  margin-left: 2em;
  width: 7em
}

button:hover {
  background-color: RoyalBlue;
}

button:disabled {
  background-color: darkgrey;
  color: #444;
  cursor: default;
}

button:hover:disabled {
  background-color: darkgrey;
  color: #444;
  cursor: default;
}